DATABASE_URL=mysql+pymysql://root:password@127.0.0.1:3306/aic_maamani
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DATABASE=aic_maamani
CORS_ORIGINS=http://localhost:3000
